<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452012051448-nc6t80kr2o4esup5tn7pointb037cup9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452012051448-nc6t80kr2o4esup5tn7pointb037cup9</string>
	<key>API_KEY</key>
	<string>AIzaSyA-8Umt4Zz24yONTNOtweUmRV3OGKm16d0</string>
	<key>GCM_SENDER_ID</key>
	<string>452012051448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roxate.gixatapp</string>
	<key>PROJECT_ID</key>
	<string>gixat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gixat-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452012051448:ios:fab10fadbf0fe64a8ce40d</string>
</dict>
</plist>